a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

.accordion a {
  color: #007bff !important;
}

.text-desc {
  font-weight: normal;
  font-style: italic;
  font-size: 15;
  line-height: 20pt;
  font-family: chronicalight;
}
.heading-sec{
  font-size: 68px;
}
