a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

.accordion a {
  color: #007bff !important;
}

.text-desc {
  text-align: justify;
  font-weight: normal;
  font-style: italic;
  font-size: 15;
  line-height: 20pt;
  font-family: chronicalight;
  color: #9ba4b0;
}
.heading-sec {
  font-size: 50px;
}
