@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: local("Lato"),
    url(./Components/fonts/ChronicaPro-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "chronicalight";
  font-weight: 900;
  src: local("chronicalight"),
    url(./Components/fonts/ChronicaPro-Medium.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: Lato, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: chronicalight;
}
* {
  font-family: Lato;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
