.header {
  height: 15vh;
  background-color: black;
}
.header-button {
  background-image: linear-gradient(to right, #ffcc00, #e64656);
  outline: none;
  border: none;
}
.header-divider {
  height: 5vh;
  width: 3px;
  background-image: linear-gradient( #ffcc00, #e64656);
}
.body{
  height: 100vh;
  background-image: linear-gradient( #fff, #112b4c);
}
