.bitcoin-section{
    background-color: black;
    border-radius: 20px;
    height: 25vh;
    position: relative;
}
.bitcoin-img{
    position: absolute;
    top:-30px;
    height: 35vh;
    left: 50%;
    transform: translate(-50%,0);

}
.abcs{
    border: 1px solid white;
}