.video-section {
  height: 40vh;
  border: 5px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .video {
  display: none;
  margin: 0;
  border: 1px solid black;
} 
*/

.play-button {
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #ffcc00, #e64656);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  padding-left: 6px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
