.video-section {
  height: 40vh;
  border: 5px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .video {
  display: none;
  margin: 0;
  border: 1px solid black;
} 
*/

.play-button{
    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;
    z-index: 100;
    position: absolute;

}
