.bitcoin-section {
  background-color: black;
  border-radius: 20px;
  min-height: 25vh;
}
.bitcoin-container {
  position: relative;
}
.bitcoin-img {
  position: absolute;
  top: -46px;
  height: 35vh;
  left: 50%;
  transform: translate(-50%, 0);
}
/* .anime-img {
  position: absolute;
  top: -50px;
  height: 40vh;
  left: 50%;
  transform: translate(-65%, 0);
  filter: drop-shadow(10px 10px 5px);
} */
.elon-img {
  position: absolute;
  top: -30px;
  width: 200px;
  left: 15px;
}
.elon-post1-container {
  position: relative;
}
.post1-img {
  width: 200px;
  margin-top: 30px;
  margin-left: 120px;
}
.post2-img {
  width: 20px;
  margin-top: 30px;
  /* margin-left: 150px; */
}

@media screen and (max-width: 900px) {
  .bitcoin-img {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
  }
  .bitcoin-flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
