.crousel-buttons {
  border: none;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  border-radius: 50%;
  display: inline-block;
}
.circle-container {
  position: absolute;
  bottom: -10;
}
.cr-image {
  height: 50vh;
  align-self: center;
  text-align: center;
  margin: auto;
}
