.crousel-buttons {
border: none;
  height: 100px;
  width: 10px;
  margin-left: 10px;
  border-radius: 50%;
  display: inline-block;
}
.circle-container {
  position: absolute;
    left: 10;
    bottom: -10;
}
