footer {
  background-color: black;
  min-height: 30vh;
}
.footer-heading {
  font-weight: bolder;
  background-clip: text;
  background: linear-gradient(to right, #f2842f, #ffce29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
