footer {
  background-color: black;
  min-height: 40vh;
}
.footer-heading {
  font-weight: bolder;
  background-clip: text;
  background: linear-gradient(to right, #ffce29, #f2842f, #e8524a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
