.news-container {
  height: 80vh;
  background-color: black;
  margin: -0;
}
.heading-gredient {
  background-clip: text;
  background: linear-gradient(to right, #f2842f, #ffce29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
