.news-container {
  height: 80vh;
}
.heading-gredient {
  background-clip: text;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
