.news-container {
  background-color: black;
  margin: 0;
  padding:10px 0;
}
.heading-gredient {
  background-clip: text;
  background: linear-gradient(to right, #f2842f, #ffce29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.news-heading {
  font-weight: bold;
  margin-top: 10px;
}
