.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  border: 5px solid black;
  margin: 0;
  padding: 0;
}

.videourl {
  background-image: url("../../Images/video-back.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 80% 80%;
}

.video-image {
  position: absolute;
  z-index: 0;
  left: 10px;
}

.play-button {
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #ffcc00, #e64656);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  padding-left: 10px;
  padding-top: 4px;
}
